<!-- navbar  -->
<nav class="navbar navbar-expand-lg shadow" style="background: #38b6ff">
  <div class="container-fluid">
    <a class="navbar-brand"
      ><img
        src="../../assets/images/logo.png"
        class="img-fluid img logo"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-3">
        <!-- <li class="nav-item">
              <a class="nav-link active text-bold button2" routerLink="/doctor"
                >Dashboard</a
              >
            </li> -->
        <li class="nav-item">
          <a class="nav-link active text-bold button2" routerLink="/admin"
            >Dashboard</a
          >
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle active button2"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <img src="assets/images/admin.png" width="20" height="19" style="border-radius:50%;"/>
            {{ this.loggedUser }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-danger" (click)="logOut()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center" style="display: flex; justify-content: center">
  <div
    class="container mx-3 my-4"
    style="
      border: none;
      box-shadow: 8px 8px 16px #e2e2e2, -8px -8px 16px #fafafa;
      border-right: 3px solid #109cf1;
      border-left: 3px solid #109cf1;
      border-radius: 0.3rem;
      padding: 0.5rem; 
    "
  >
    <h3 class="text-center my-4">Disable or Enable Staff</h3>
    <div class="form-control mt-2 px-5" style="border: none">
      <input
        class="form-control"
        type="text"
        placeholder="search"
        [(ngModel)]="filter"
      />
      <!-- {{filter}} -->
    </div>

    <table class="table table-dark table-striped">
      <thead class="table-head" style="background-color: rgb(118, 197, 211)">
        <tr>
          <th>StaffID</th>
          <th>first Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>DateOfBirth</th>
          <!-- <th>Qualification</th> -->
          <!-- <th>Status</th> -->
          <th>Role Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let s of staffService.staffs
              | filter: filter
              | paginate: { itemsPerPage: 2, currentPage: page }
          "
        >
          <td>{{ s.StaffId }}</td>
          <td>{{ s.FirstName }}</td>
          <td>{{ s.LastName }}</td>
          <td>{{ s.Phone }}</td>
          <td>{{ s.Address }}</td>
          <td>{{ s.DateOfBirth | date: "dd-MMM-yyyy" }}</td>
          <!-- <td>{{s.Qualification}}</td> -->
          <!-- <td>{{s.Status}}</td> -->
          <td>{{ s.Role1 }}</td>
          <td>
            <!-- button -->
            <div *ngIf="s.Status == 'Active'; else eb">
              <button
                class="btn btn-sm btn-danger"
                (click)="toDisableStaff(s.StaffId)"
              >
                Disable Staff
              </button>
            </div>
            <ng-template #eb>
              <button
                class="btn btn-sm btn-success"
                (click)="toEnableStaff(s.StaffId)"
              >
                Enable Staff
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <footer>
      <!-- pagination -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </footer>
  </div>
</div>
